.Hero {
  width: 100%;
  min-height: 100vh;
  background: url("../../../public/landing.png") no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.495);
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 90px 16px 40px;
  box-sizing: border-box;
}

.Heading {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}

.content {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  max-width: 500px;
  text-align: center;
}